@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  margin: 0; padding: 0;
  border: none; outline: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  transition: all .2s linear;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background: #fe602b;
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.6rem;
  padding: 1.5rem 6.3333%;
  background: #fe602b;
}

.header .logo {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}

.container-form {
  background: #212529;
  width: 70rem; height: 80rem;
  padding: 1.5rem 6.3333%;
  display: inline-flex;
  flex-direction: column;
}

.container-form .form-body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
}

.container-form .form-body h1 {
  color: #fff;
  margin-bottom: 2rem;
}

.container-form .form-body form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.container-form .form-body .form-input {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 3rem;
  padding: 1.5rem 2rem;
  color: #fff;
  display: block;
}

.container-form .form-actions {
  text-align: center;
  margin: 3rem 0;
}

.container-form .form-actions .sale-btn {
  cursor: pointer;
  padding: 1.5rem 2.5rem;
  border-radius: .3rem;
  text-transform: uppercase;
}

.hero {
  display: inline-flex;
  
}

.hero h1 {
  color: #fff;

}